// Couleurs
$black       : #1b2145;
$grey        : #75798f;
$silver      : #f8f8f8;
$white       : #ffffff;
$light-white : #f5f6f9;
$off-white   : #c7cbe5;
$red         : #e70a3e;

$dark-grey   : #383838;
$dark-dark   : #212121;


// Typo
$XXLsize     : 50px;
$XLsize      : 40px;
$Lsize       : 30px;
$Msize       : 20px;
$Ssize       : 16px;
$XSsize      : 13px;

// Cta
$ctasize     : 10px 25px;

// Weight
$thin        : 100;
$light       : 300;
$regular     : 400;
$medium      : 500;
$semiBold    : 600;
$bold        : 700;
$extrabold   : 900;

// Percent
$P100        : 100%;
$P90         : 90%;
$P80         : 80%;
$P70         : 70%;
$P60         : 60%;
$P50         : 50%;
$P40         : 40%;
$P30         : 30%;
$P20         : 20%;
$P15         : 15%;
$P10         : 10%;
$P5          : 5%;
$P3          : 3%;
$P2          : 2%;
$P1          : 1%;
$P05         : .5%;
$P0          : 0%;

// View Height
$V100        : 100vh;
$V90         : 90vh;
$V80         : 80vh;
$V70         : 70vh;
$V60         : 60vh;
$V50         : 50vh;
$V40         : 40vh;
$V30         : 30vh;
$V20         : 20vh;
$V15         : 15vh;
$V10         : 10vh;
$V5          : 5vh;
$V3          : 3vh;
$V2          : 2vh;
$V1          : 1vh;

// Conteneur
$conteneur   : 90%;

// Shadow
$shadow      : 2px 2px 3px 0 rgba(46, 50, 60, 0.10);
$mediumshadow: 0 20px 25px 0 rgba(27, 33, 69, 0.10);

// Radius
$radius      : 5px;

// Responsive 
$tablette    : 800px;
$mobile      : 400px;