@import "../helpers/_variables.scss";
@import "../modules/mixines.scss";

header {
    position: fixed;
    top: 0;
    left: 0;
    width: $P100;
    z-index: 99;
    box-shadow: $shadow;
    background-color: $white;
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;

    nav {
        ul {
            display: flex;
            justify-content: center;
            flex-direction: row;
            align-items: center;
            align-content: center;
            flex-wrap: wrap;
            height: $V10;
            padding: 1.3% $P0;

            li {
                padding: $P0 $P2;

                &:nth-child(4)>a:nth-child(1) {
                    font-size: 30px;
                }

                a {
                    @include typoTexte ($Ssize, $bold, $black, auto);
                }
            }
        }
    }
}

.banner-scroll {
    box-shadow: $mediumshadow;
}