@import "../helpers/_variables.scss";
@import "./mixines.scss";

h1,
h2 {
    @include typoTitre ($XXLsize, $bold, $black);
}

h3,
h4,
h5,
h6 {
    @include typoTitre ($Lsize, $bold, $black);
}

p {
    @include typoTexte ($Ssize, $regular, $grey, 28px);
}

span {
    font-family: 'Circular Std';
}